// Custom Classes

// Create a home background image class
.bg-home {
  background: url('../../images/sunny-day.jpg') center center no-repeat;
  background-size: cover;
}

// This goes on <body> and forces the main content to take up the
// full height of the page, causing the footer to stick to the bottom
// even if the main content isn't normally tall enough to keep it on
// the bottom of the page.
.sticky-footer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// Any one of the three selectors below is required for this to work.
main, 
[role="main"],
.main {
  flex: 1 !important;
}

// Create width and center homepage form
.home-search {
  margin: 0 auto;
  max-width: 400px;
}

// Forecast card
.card-forecast {
  max-width: 340px;
}

// Playlist styles
.bg-music {
  background: red;
  background: -moz-linear-gradient(#f7f7f7, #1c1c1c);
  background: linear-gradient(#f7f7f7, #1c1c1c); /* Standard syntax */
  background: -webkit-linear-gradient(#f7f7f7, #1c1c1c);
}

// Transparent backgrounds
.bg-forecast {
  background: rgba(255, 255, 255, .5);
}

.clear-day-icon {
 background: url('../../images/icons/clear-day.jpg');
}

// Background images for different weather conditions
.clear-day {
  background: url('../../images/backgrounds/clear-day.jpg') center center no-repeat !important; 
  background-size: cover !important;
}

.clear-night {
  background: url('../../images/backgrounds/clear-night.jpg') center center no-repeat !important; 
  background-size: cover !important;
}

.cloudy {
  background: url('../../images/backgrounds/cloudy.jpg') center center no-repeat !important; 
  background-size: cover !important;
}

.fog {
  background: url('../../images/backgrounds/fog.jpg') center center no-repeat !important; 
  background-size: cover !important;
}

.partly-cloudy-day {
  background: url('../../images/backgrounds/partly-cloudy-day.jpg') center center no-repeat !important; 
  background-size: cover !important;
}

.partly-cloudy-night {
  background: url('../../images/backgrounds/partly-cloudy-night.jpg') center center no-repeat !important; 
  background-size: cover !important;
}

.rain {
  background: url('../../images/backgrounds/rain.jpg') center center no-repeat !important; 
  background-size: cover !important;
}

.sleet {
  background: url('../../images/backgrounds/sleet.jpg') center center no-repeat !important; 
  background-size: cover !important;
}

.snow {
  background: url('../../images/backgrounds/snow.jpg') center center no-repeat !important; 
  background-size: cover !important;
}

.wind {
  background: url('../../images/backgrounds/wind.jpg') center center no-repeat !important; 
  background-size: cover !important;
}

// Etc... add all the icon styles from DarkSky here
// https://unsplash.com/search/photos/clear-night